
html,body
{
	height:100%;
}

body
{
	font-family: Trebuchet MS, franklin gothic, helvetica, arial, sans-serif;
	background-color: #0b99b7;
}

#login_main_page
{
	margin-left: 10px;
}

#login_container
{
	display: flex;
	flex-direction: row;
}


#ephp_container
{
	display: flex;
	flex-direction: row; 
}


@media screen and (min-device-height: 800px)
{
	#ephp_container 
	{
		height: 675px;
	}
}

@media screen and (max-device-height: 799px)
{
	#ephp_container 
	{
		height: 475px;
	}

	body
	{
		font-size: 80%;
	}

	.component_header
	{
		height: 50px;	
	}
	
	.component_header img
	{
		height: 32px;
	}
}




.component_header
{
	text-align: center;
	background-color: #ffffe0;
}

#client 
{
	display: flex;
	flex-direction: column;
	margin: 10px;
	background-color: white;
	/* need this to prevent child elements resizing the content */
	width: 33%;
}


#client_toolbar
{
	height: 16px;
}
#client_footer
{
	justify-content: flex-end;
	flex-grow:1;
}

#client_tabs
{
	background-color: #a0a0a0;
}

#client_tabs span 
{
	background-color: #c0c0c0;
	color: black;
}

#client_tabs span.active
{
	background-color: #e0e0e0;
	color: black;
}

#src_ace
{
	justify-content: center;
	background-color: #e0e0e0;
	flex-grow:20;
}
#content
{
	background-color:#e0e0e0;
	flex-grow: 20;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	overflow: auto;
}

#server
{
	margin: 10px;
	background-color: white;
	width:33%;
	overflow: auto;
}

#database
{
	margin: 10px;
	background-color: white;
	width: 0px;
}

/* putting a fixed width element in a flex layout is ok - other elements
   resize and this stays fixed */
#network
{
	margin: 10px;
	background-color: white;
	width: 400px;
}

#dbconnect
{
	margin: 10px;
	background-color: white;
	width: 0px;
}
#network_canvas
{
	background-color: white;
}

a
{	
	text-decoration: none;
}

h1
{
	font-size: 150%;
}

table, td, th
{
	border: 1px solid black;
}

tr,td,th
{
	border-collapse: collapse;
}

#src
{
	width: 90%; 
	height: 90%;
	border: 1px solid black;
}




#server .selected
{
	background-color: yellow;
	border: 2px solid red;
}

#server tr.selected 
{
	background-color: white;
	font-weight: bold;
}

#serverContent code, #serverContent .code
{
	font-size: 8pt;
	margin: 0px;
	font-family: Courier, monospace;
}


#content .selected
{
	background-color: yellow;
}

.lineHighlight {
	background-color: #c0ffc0;
}

.lineNumber {
	background-color: lightgray;
	color: blue;
	font-family: Courier, monospace;
	font-size: 8pt;
	margin-right: 5px;
}

.serverCode {
	line-height: 8px;
}


#client.animating, #database.rev_animating {
	animation-duration: 5s;
	animation-name:  shrink_main_component;
	animation-fill-mode: forwards;
}

#network.animating, #dbconnect.rev_animating {
	animation-duration: 5s;
	animation-name: shrink_network_component;
	animation-fill-mode: forwards;
}

#database.animating, #client.rev_animating {
	animation-duration: 5s;
	animation-name: grow_main_component;
	animation-fill-mode: forwards;
}

#dbconnect.animating, #network.rev_animating {
	animation-duration: 5s;
	animation-name: grow_network_component;
	animation-fill-mode: forwards;
}

@keyframes shrink_main_component {
	from { width: 33%; } to { width: 0%; }
}

@keyframes shrink_network_component {
	from { width: 400px; } to { width: 0px; }
}

@keyframes grow_main_component {
	from { width: 0%; } to { width: 33%; }
}

@keyframes grow_network_component {
	from { width: 0px; } to { width: 400px; }
}
