
html,body
{
    height:100%;
}

body
{
    font-family: Trebuchet MS, DejaVu Sans Condensed, helvetica, arial, sans-serif;
/*    background-color: #0b99b7;  */
    background-color: #404060;
    color: white;
}

#ephp_container {
    color: black;
    margin: 0px;
}

#titlecontainer, #titlecontainer h1 {
    margin: 0px;
}

#login_main_page
{
    margin-left: 10px;
}

#login 
{
    float: right;
}

#titlecontainer
{
    float: left;
}

#titlecontainer h1 {
    margin-top: 0px;
}

#ephp_container {
    /* How we solve the dreaded wrap to another line problem with the
      divs being contained */
    white-space: nowrap;
    overflow: hidden;
    height:640px;
    width: 100%;
}

#client, #networkContainer, #server {
    display: inline-block;  
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top; 
    position: relative;
    /* white-space is inherited so get the contained elements 
    to treat whitespace normally */
    white-space: normal;
    background-color: white;
    height: 100%;
}


#networkContainer {
    width: 20%;
}

#network {
    width: 100%;
    background-color: white;
}


#src_ace {
    height: 500px;
    justify-content: center;
/*    background-color: #e0e0e0; */
}

#content {
    height: 512px; 
}


.component_header
{
    text-align: center;
    background-color: #ffffe0;
    width: 100%;
}

#client 
{
    width: 40%;
}


#client_toolbar
{
    height: 32px;
}

#client_tabs
{
    background-color: #a0a0a0;
}

#client_tabs span 
{
    background-color: #c0c0c0;
    color: black;
}

#client_tabs span.active
{
    background-color: #e0e0e0;
    color: black;
}

#content {
       background-color:#f0f0f0;
       border: 2px solid black;
       overflow: auto;
}

#server
{
    width:40%;
    height: 100%;
}

#networkContainer
{
    height: 100%;
/*    width: 25%; */
}


a
{    
    text-decoration: none;
}

h1
{
    font-size: 150%;
}

table, td, th
{
    border: 1px solid black;
}

tr,td,th
{
    border-collapse: collapse;
}

#src
{
    width: 90%; 
    height: 90%;
    border: 1px solid black;
}




#dbresults .selected
{
    background-color: yellow;
    color: black;
    border: 2px solid red;
}

#dbresults tr.selected 
{
    background-color: white;
    font-weight: bold;
}

#dbresults .varcell
{
    border: none;
    color: black;
}

#dbresults .varcell.selected
{
    border: 2px solid black;
}
#serverContent { height:100%; overflow: auto; } 
#serverContent code, #serverContent .code
{
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    font-family: Courier, monospace;
}


#content .selected, #serverContent span.selected
{
    background-color: yellow;
}

#serverContent span.selected
{
   border: 1px solid black;
}

.lineHighlight {
    background-color: red; color:white 
}

.lineNumber {
    background-color: lightgray;
    color: blue;
    font-family: Courier, monospace;
    font-size: 8pt;
    margin-right: 5px;
}

.serverCode {
    /*
    line-height: 8px;
    */
}


.srcconsole {
    background-color: black;
    color: white;
    font-family: courier, monospace; 
    position: absolute; 
    top: 300px;
    right: 300px; 
    width: 640px;
    height: 320px;
    border: 2px solid red;
}

/*TODO % heights do not work here - investigate why */
.srcvar {
    background-color: blue;
    color: yellow;
    font-family: courier, monospace;
    position: absolute;
    right:200px;    
    width:300px;
    height:200px;
    top: 0px; 
    border: 2px solid yellow;
    overflow: auto;
}

.srcconsole >  div {
    overflow: auto;
    height: 90%;
}

.srcdb {
    background-color: #ffffc0;
    color: black;
    height: 25%;
    min-height: 25%;
    width: 100%;
    position: relative;
    overflow: auto;
}

#dbg {
    margin-top: 10px;
    height: 20%;
    bottom: 0%;
    width: 100%;
    position: relative;
    background-color: black;
    white-space: nowrap;
}

#vars, #dbresults, #log {
    height:100%;
    float: left;
    position: relative;
    font-size: 90%;
    font-family: monospace;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
}

#vars>p, #dbresults>p, #log>p {
    color: yellow;
    font-size: 80%;
}

#vars {
    width: 15%;
    border-right: 1px solid white;
}

#dbresults {
    width: 50%;
    border-right: 1px solid white;
}


#log { 
    width: 33%;
}

.ephpTitle {
    font-family: 'Press Start 2P', cursive;
}

.ephpVersion {
    font-family: 'Monoton', cursive;
    font-size: 150%;
}

a {
    color: yellow;
}

#ephp_container a {
    color: blue;
}
