
html,body
{
    height:100%;
}

body
{
    font-family: Trebuchet MS, franklin gothic, helvetica, arial, sans-serif;
    background-color: #0b99b7;
}

#login_main_page
{
    margin-left: 10px;
}

#ephp_container {
    /* How we solve the dreaded wrap to another line problem with the
      divs being contained */
    white-space: nowrap;
    overflow: hidden;
}

#client, #networkContainer, #server {
    display: inline-block;  
    margin: 10px;
    height: 100%; 
    vertical-align: top; 
    position: relative;
    /* white-space is inherited so get the contained elements 
    to treat whitespace normally */
    white-space: normal;
	background-color: white;
}


#networkContainer {
	width: 400px;
}

#network {
	width: 100%;
    background-color: white;
}

#ephp_container {
	height: 800px;
}

#src_ace {
	height: 600px;
}

#content {
	height: 600px; 
}


.component_header
{
    text-align: center;
    background-color: #ffffe0;
	width: 100%;
}

#client 
{
    width: 33%;
}


#client_toolbar
{
    height: 32px;
}

#client_tabs
{
    background-color: #a0a0a0;
}

#client_tabs span 
{
    background-color: #c0c0c0;
    color: black;
}

#client_tabs span.active
{
    background-color: #e0e0e0;
    color: black;
}

#src_ace {
    justify-content: center;
    background-color: #e0e0e0;
}

#content {
       background-color:#e0e0e0;
       border: 2px solid black;
       overflow: auto;
}

#server
{
    width:33%;
    height: 100%;
}

#database
{
    width: 0px;
    display: none;
}

#networkContainer
{
    height: 100%;
/*    width: 25%; */
}

#dbconnect
{
    margin: 10px;
    background-color: white;
    width: 0px;
    display: none;
}

a
{    
    text-decoration: none;
}

h1
{
    font-size: 150%;
}

table, td, th
{
    border: 1px solid black;
}

tr,td,th
{
    border-collapse: collapse;
}

#src
{
    width: 90%; 
    height: 90%;
    border: 1px solid black;
}




#server .selected
{
    background-color: yellow;
    border: 2px solid red;
}

#server tr.selected 
{
    background-color: white;
    font-weight: bold;
}

#server .varcell
{
    border: none;
    color: #ffffc0;
}

#server .varcell.selected
{
    border: 2px solid black;
    color: black;
}
#serverContent { height:100%; overflow: auto; } 
#serverContent code, #serverContent .code
{
    font-size: 10pt;
    margin: 0px;
	padding: 0px;
    font-family: Courier, monospace;
}


#content .selected
{
    background-color: yellow;
}

.lineHighlight {
    background-color: red; color:white 
}

.lineNumber {
    background-color: lightgray;
    color: blue;
    font-family: Courier, monospace;
    font-size: 8pt;
    margin-right: 5px;
}

.serverCode {
    /*
    line-height: 8px;
    */
}


.srcconsole {
    background-color: black;
    color: white;
    font-family: courier, monospace; 
    position: absolute; 
    top: 300px;
    right: 300px; 
    width: 640px;
    height: 320px;
    border: 2px solid red;
}

/*TODO % heights do not work here - investigate why */
.srcvar {
    background-color: blue;
    color: yellow;
    font-family: courier, monospace;
    position: absolute;
    right:0px;    
    width:200px;
    height:200px;
    top: 0px; 
    border: 2px solid yellow;
}

.srcconsole >  div {
    overflow: auto;
    height: 90%;
}

.srcdb {
    background-color: #ffffc0;
    color: black;
    height: 25%;
    min-height: 25%;
    width: 100%;
    position: relative;
    overflow: auto;
}

